body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #007bff;
}

footer {
    background-color: #343a40;
}

.product {
    border: 1px solid #ddd;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
}

.product img {
    max-width: 100%;
    border-radius: 5px;
}

.product button {
    margin-top: 1rem;
}